:root {
    --clr-background: radial-gradient(circle at 49% 46%,rgba(149,176,241,0.51), rgba(174, 192, 235, 0) 50%), radial-gradient(circle at 10% 10%,rgba(241, 189, 134, 0.758), rgba(240,173,103,0) 50%), radial-gradient(circle at 90% 10%,rgba(183, 150, 255, 0.631), rgba(184,150,255,0) 50%), radial-gradient(circle at 90% 90%,rgba(81, 136, 191, 0.69), rgba(47,168,178,0) 50%), radial-gradient(circle at 10% 90%,rgba(142, 106, 196, 0.5), rgba(168,112,253,0) 50%);
    --clr-line: rgba(255, 255, 255, 0.65);
    --clr-text: rgba(0, 0, 0, 0.77); 
    --clr-orange: rgba(220, 129, 32, 0.663);  
    --clr-white: rgb(255, 255, 255);
    --fontfp: 'Montserrat Alternates', sans-serif;

    --value-percentage10: rotate(18deg);
    --value-percentage20: rotate(36deg);
    --value-percentage30: rotate(54deg);
    --value-percentage40: rotate(72deg);
    --value-percentage50: rotate(90deg);
    --value-percentage60: rotate(108deg);
    --value-percentage70: rotate(126deg);
    --value-percentage80: rotate(144deg);
    --value-percentage90: rotate(162deg);
    --value-percentage100: rotate(180deg);
    --to-deg: 
}

.transform100{
  transform:var(--value-percentage100); 
  --to-deg:var(--value-percentage100);
}

.transform90{
    transform:rotate(162deg); 
    --to-deg:var(--value-percentage90);
}

.transform50{
    transform:var(--value-percentage50); 
    --to-deg:var(--value-percentage50);
}

.transform80{
    transform:var(--value-percentage80); 
    --to-deg:var(--value-percentage80);
}

.transform40{
  transform:var(--value-percentage40); 
  --to-deg:var(--value-percentage40);
}

.transform20{
    transform:var(--value-percentage20); 
    --to-deg:var(--value-percentage20);
}

.ch-grid:after,
.circle:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 120px;
	height: 120px;
	display: inline-block;
	margin:10px;
}

.circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 
		inset 0 0 0 10px rgba(255, 255, 255, 0.386),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}


.circle:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}

.circle:hover .mask.full  {
  display: none;
}

.circle:hover .mask .fill  {
  display: none;
}

.circle:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}

.circle:hover .ch-info p {
	opacity: 1;
}

.circle .mask,
.circle .fill {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}

.circle .mask {
    clip: rect(0px, 120px, 120px, 60px);
  }

.mask .fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: var(--clr-orange);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: var(--to-deg);
  }
}

.circle .inside-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #0d1117;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
  }

  .test {
    width: 40%;
    margin: 0 auto;
    background: transparent;
    animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
    -webkit-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
    -o-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }